{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% block title %}Data Analysis{% endblock %}

{% block content %}
<h1 class="text-center mb-5">Data Analysis</h1>
<div class="row">
  {% for analysis in analyses %}
  <div class="col-lg-2 col-md-3 col-sm-4">
    <div class="card" style="width: 18rem;">
      <img src="{% static analysis.photo %}" class="card-img-top" alt="analysis photo">
      <div class="card-body">
        <h5 class="card-title">{{ analysis.title }}</h5>
        <p class="card-text">{{ analysis.text }}</p>
        <a href="{% url analysis.link %}" class="btn btn-primary w-100">Show</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
