{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% block title %}Data Analysis - Google Analytics{% endblock %}

{% block content %}
<h1 class="text-center mb-5">Google Analytics</h1>
<div class="row justify-content-center">
    <h4 class="text-center">Data Exploration & Preprocessing</h4>
    <hr>
    <h5>Tesla</h5>
    <div class="col-lg-4 col-md-8 col-sm-12 text-center mb-5">
        <p>Head (first 5 rows)</p>
        <table class="mx-auto">
            <tr>
                {% for column in tesla_head.columns %}
                <th class="px-2">{{ column }}</th>
                {% endfor %}
            </tr>
            {% for value in tesla_head.values %}
            <tr>
                {% for v in value %}
                <td>{{ v }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-lg-4 col-md-8 col-sm-12 text-center">
        <p>Tail (last 5 rows)</p>
        <table class="mx-auto">
            <tr>
                {% for column in tesla_tail.columns %}
                <th class="px-2">{{ column }}</th>
                {% endfor %}
            </tr>
            {% for value in tesla_tail.values %}
            <tr>
                {% for v in value %}
                <td>{{ v }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <p>Dataframe shape: {{ df_tesla.shape }}</p>
    <p>Column names: {{ df_tesla.columns.values }}</p>
    <p>Largest value for Tesla in Web Search: {{ tesla_max }}</p>
    <p>Smallest value for Tesla in Web Search: {{ tesla_min }}</p>
    <hr>
    <h5>Unemployment 2004-2019</h5>
    <div class="col-lg-4 col-md-8 col-sm-12 text-center mb-5">
        <p>Head (first 5 rows)</p>
        <table class="mx-auto">
            <tr>
                {% for column in ue_head.columns %}
                <th class="px-2">{{ column }}</th>
                {% endfor %}
            </tr>
            {% for value in ue_head.values %}
            <tr>
                {% for v in value %}
                <td>{{ v }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-lg-4 col-md-8 col-sm-12 text-center">
        <p>Tail (last 5 rows)</p>
        <table class="mx-auto">
            <tr>
                {% for column in ue_tail.columns %}
                <th class="px-2">{{ column }}</th>
                {% endfor %}
            </tr>
            {% for value in ue_tail.values %}
            <tr>
                {% for v in value %}
                <td>{{ v }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <p>Dataframe shape: {{ df_unemployment.shape }}</p>
    <p>Column names: {{ df_unemployment.columns.values }}</p>
    <div class="col-lg-4 col-md-8 col-sm-12 text-center mb-5">
        <p>Descriptive statistics</p>
        <table class="mx-auto">
            <tr>
                {% for column in ue_description.columns %}
                <th class="px-2">{{ column }}</th>
                {% endfor %}
            </tr>
            {% for value in ue_description.values %}
            <tr>
                {% for v in value %}
                <td>{{ v }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <hr>
    <h5>Bitcoin search</h5>
    <div class="col-lg-4 col-md-8 col-sm-12 text-center mb-5">
        <p>Head (first 5 rows)</p>
        <table class="mx-auto">
            <tr>
                {% for column in btc_search_head.columns %}
                <th class="px-2">{{ column }}</th>
                {% endfor %}
            </tr>
            {% for value in btc_search_head.values %}
            <tr>
                {% for v in value %}
                <td>{{ v }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-lg-4 col-md-8 col-sm-12 text-center">
        <p>Tail (last 5 rows)</p>
        <table class="mx-auto">
            <tr>
                {% for column in btc_search_tail.columns %}
                <th class="px-2">{{ column }}</th>
                {% endfor %}
            </tr>
            {% for value in btc_search_tail.values %}
            <tr>
                {% for v in value %}
                <td>{{ v }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <p>Dataframe shape: {{ df_btc_search.shape }}</p>
    <p>Column names: {{ df_btc_search.columns.values }}</p>
    <p>Largest value for Bitcoin in Web Search: {{ btc_search_max }}</p>
    <p>Smallest value for Bitcoin in Web Search: {{ btc_search_min }}</p>
    <hr>
    <h5>Bitcoin price</h5>
    <div class="col-lg-4 col-md-8 col-sm-12 text-center mb-5">
        <p>Head (first 5 rows)</p>
        <table class="mx-auto">
            <tr>
                {% for column in btc_price_head.columns %}
                <th class="px-2">{{ column }}</th>
                {% endfor %}
            </tr>
            {% for value in btc_price_head.values %}
            <tr>
                {% for v in value %}
                <td>{{ v }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-lg-4 col-md-8 col-sm-12 text-center">
        <p>Tail (last 5 rows)</p>
        <table class="mx-auto">
            <tr>
                {% for column in btc_price_tail.columns %}
                <th class="px-2">{{ column }}</th>
                {% endfor %}
            </tr>
            {% for value in btc_price_tail.values %}
            <tr>
                {% for v in value %}
                <td>{{ v }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <p>Dataframe shape: {{ df_btc_price.shape }}</p>
    <p>Column names: {{ df_btc_price.columns.values }}</p>
    <div class="col-lg-4 col-md-8 col-sm-12 text-center mb-5">
        <p>Descriptive statistics</p>
        <table class="mx-auto">
            <tr>
                {% for column in btc_price_description.columns %}
                <th class="px-2">{{ column }}</th>
                {% endfor %}
            </tr>
            {% for value in btc_price_description.values %}
            <tr>
                {% for v in value %}
                <td>{{ v }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
