{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}wiktor-jedski{% endblock %}

{% block content %}
<h1 class="text-center mb-4">Contact me</h1>
<div class="container text-center">
  <p><i class="bi bi-envelope me-2"></i><a href="mailto:jedrzejewskiwiktor@gmail.com">jedrzejewskiwiktor(at)gmail.com</a></p>
  <p><i class="bi bi-github me-2"></i><a href="https://github.com/wiktor-jedski">wiktor-jedski</a></p>
  <p><i class="bi bi-linkedin me-2"></i><a href="https://www.linkedin.com/in/wiktor-j%C4%99drzejewski-089084181/">LinkedIn Profile</a></p>
</div>
{% endblock %}
